body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background: url('jungle.jpg') center/cover no-repeat fixed;
  backdrop-filter: blur(2px);
}

h1 {
  margin-top: 30px;
  font-size: 32px;
  font-weight: bold;
  color: black;
}

#search {
  width: 350px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #333;
  font-size: 16px;
}

#result {
  margin-top: 30px;
  padding: 20px;
}

/* Kartu Hewan */
.animal-card {
  display: inline-block;
  width: 250px;
  background: white;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  overflow: hidden;
}

.animal-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.animal-card h3 {
  margin: 10px 0;
}
